{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/TopLayout.css' %}">
{% endblock %}

{% block meta_description %}{% endblock %}

{% block logina %}<h1> S O E N S </h1>{% endblock %}

{% block mainnav %}
{% endblock %}


{% block navA %}
    <div class="btn_bluered">
        <a href="{% url 'Spots:spotstop' %}">Spots</a>
    </div>
{% endblock %}

{% block main %}
    {{ listname }}
    <form action="{% url 'Spots:spotlist' %}" method="POST">
        {% csrf_token %}
        {{ form }}
{#        <br>#}
        <input type="submit" value="検索">
    </form>

    <table class="normal_table">
        <tr>
            <th>NAME</th>
        </tr>
        {% if serchedData %}
            {% for serched in serchedData %}
                <tr>
                    <td>
                        {{ serched.name }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for da in data %}
                <tr>
                    <td>
                        {{ da.name }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

{% block mainsub %}
{% endblock %}