{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block logina %}<a href="{% url 'Soen:soentop' %}"><h1> S O E N S </h1></a>{% endblock %}

{% block navA %}
    <br>
    <br>
    <div class="btn_bluered">
        <a href="" style="text-decoration:none;">Soen</a>
    </div>
    <ul>
        <li>
            <a href="{% url 'Soen:loginmemberlist' %}"><p style="font-size:10px">装苑社員</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginshokukatalist' %}"><p style="font-size:10px">職方List</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginuncategorylist' %}"><p style="font-size:10px">未分類List</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginvehiclelist' %}"><p style="font-size:10px">車両List</p></a>
        </li>
    </ul>

    <br>
    <div class="btn_bluered">

        <a href="" style="text-decoration:none; font-size:10px;">SpotsCompany</a>
    </div>
    <ul>
        <li>
            <a href=""><p style="font-size:10px">㈱装苑</p></a>
        </li>
        <li>
            <a href=""><p style="font-size:10px">協力会社</p></a>
        </li>
        <li>
            <a href=""><p style="font-size:10px;">元請会社</p></a>
        </li>

        <li>
            <a href=""><p style="font-size:10px;">現場</p></a>
        </li>
        {#        <li>#}
        {#            <a href="{% url 'Soen:insurancecreate' %}"><p style="font-size:15px;">社会保険</p></a>#}
        {#        </li>#}
        {#            <li>#}
        {#            <a href="{% url 'Soen:skillcreate' %}"><p style="font-size:15px;">?skill?</p></a>#}
        {#        </li>#}
    </ul>

    <div class="btn_bluered">
        <a href="" style="text-decoration:none;">更新</a>
    </div>
    <ul>
        {#        <li>#}
        {#            <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:15px;">現場作成</p></a>#}
        {#        </li>#}
        {#        <li>#}
        {#            <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:15px;"></p></a>#}
        {#        </li>#}
        {##}
        {#        <li>#}
        {#            <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:15px;"></p></a>#}
        {#        </li>#}
    </ul>


{% endblock %}

{% block main %}
    <H1 STYLE="align-content: center; text-align: center;">ログイン中</H1>
{% endblock %}
