{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block logina %}<a href="{% url 'Soen:soentop' %}"><h1> S O E N S </h1></a>{% endblock %}

{% block navA %}
    <br>
    <br>
    <div class="btn_bluered">
        <a href="" style="text-decoration:none;">Soen</a>
    </div>
    <ul>
        <li>
            <a href="{% url 'Soen:loginmemberlist' %}"><p style="font-size:10px">装苑社員</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginshokukatalist' %}"><p style="font-size:10px">職方List</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginuncategorylist' %}"><p style="font-size:10px">未分類List</p></a>
        </li>
        <li>
            <a href="{% url 'Soen:loginvehiclelist' %}"><p style="font-size:10px">車両List</p></a>
        </li>
    </ul>
    <br>
    <div class="btn_bluered">
        <a href="" style="text-decoration:none; font-size:10px;">SpotsCompany</a>
    </div>
    <ul>
        <li>
            <a href=""><p style="font-size:10px">㈱装苑</p></a>
        </li>
        <li>
            <a href=""><p style="font-size:10px">協力会社List</p></a>
        </li>
        <li>
            <a href=""><p style="font-size:10px;">元請会社List</p></a>
        </li>
        <li>
            <a href=""><p style="font-size:10px;">現場 List</p></a>
        </li>
    </ul>
    <div class="btn_bluered">
        <a href="" style="text-decoration:none; font-size:12px;">新規作成</a>
    </div>
    <ul>
                <li>
                    <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:10px;">Spot</p></a>
                </li>
                <li>
                    <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:10px;">Company</p></a>
                </li>

                <li>
                    <a href="{% url 'Spots:spotcreate' %}"><p style="font-size:10px;">Member</p></a>
                </li>
    </ul>
{% endblock %}

{% block main %}
    <H1 STYLE="align-content: center; text-align: center;">ログイン中</H1>
{% endblock %}
