{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block mainnav %}
{% endblock %}

{% block navA %}
    <a href="{% url 'accounts:logintop' %}"><p>loginTop</p></a>
{% endblock %}

{% block main %}
    <br>MemberList
    <table style="background-color:white;">
    <tr>
            <th>所属</th>
            <th>名前</th>
        </tr>
        {% for member in data %}
            <tr>
                <td>{{ member.genre }}</td>
                <td>{{ member.name }}</td>
                <br>
                <td><a href="{% url 'Soen:detailmember' member.pk %}">詳細</a></td>

        {% endfor %}
    </table>
{% endblock %}
