{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/TopLayout.css' %}">
{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block mainnav %}
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Soen:soentop' %}">Soen</a>
    </div>
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Spots:spotstop' %}">Spots</a>
    </div>
    <br>
{% endblock %}

{% block navA %}
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="button_radius"><a href="{% url 'Soen:soenmember' %}">社　員　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:shokukatamember' %}">職　方　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:uncategory' %}">未　分類List</a></div><br>
{% endblock %}

{% block main %}
    <br>MemberList
    {% for member in Members %}
        <tr>
            <div>
                <li style="background-color:white;">({{ member.genre }}){{ member.name }}

                    {#                                        {% if member.soenmemberD %}#}
                    {% if member.soenmemberD %}
                        {#                        <a class="btn btn-normal" href="{% url 'Soen:updatemember' member.id %}"> 詳細update </a>#}
                        <a class="btn btn-normal" href="{% url 'Soen:soenmemberDetail' member.id %}"> 詳細 </a>
                    {% else %}
                        <a class="btn btn-normal" href="{% url 'Soen:createdetailmember' member.id %}"> 詳細Create </a>
                    {% endif %}
                    {% if member.soenmemberHealth %}
                        <a class="btn btn-normal" href="{% url 'Soen:health' member.id %}"> 健康診断 </a>
                    {% else %}
                        <a class="btn btn-normal" href="{% url 'Soen:createhealth' member.id %}">健診Create </a>
                    {% endif %}
                    {% if member.soenmemberInsurance %}
                        <a class="btn btn-normal" href="{% url 'Soen:insurance' member.id %}"> 社会保険 </a>
                    {% else %}
                        <a class="btn btn-normal" href="{% url 'Soen:createinsurance' member.id %}">社保Create </a>
                    {% endif %}
                    {% if member.soenmemberEducation and member.soenmemberSkill and member.soenmemberLicence %}
                        <a class="btn btn-normal" href="{% url 'Soen:educationskilllicence' member.id %}"> Licence </a>
                    {% else %}
                        <a class="btn btn-normal"
                           href="{% url 'Soen:createeducationskilllicence' member.id %}">技能Create </a>
                    {% endif %}
                    {% if member.vehicle %}
                        <a class="btn btn-normal" href="{% url 'Soen:vehicle' member.id %}"> 登録車両 </a>
                    {% else %}
                        <a class="btn btn-normal" href="{% url 'Soen:vehicle' member.id %}">車両Create </a>
                    {% endif %}




                    </li>
            </div>

        </tr>
    {% endfor %}
{% endblock %}
