{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/TopLayout.css' %}">{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}
{% block mainnav %}
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Soen:soentop' %}">Soen</a>
    </div>
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Spots:spotstop' %}">Spots</a>
    </div>
    <br>
{% endblock %}

{% block navA %}
    skill
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="button_radius"><a href="{% url 'Soen:soenmember' %}">社　員　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:shokukatamember' %}">職　方　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:uncategory' %}">未　分類List</a></div><br>
{% endblock %}

{% block main %}
    <br>
    <table class="normal_table">
        <tr>
            <th>Genre</th>
            <th>Name</th>
            <th>特別教育</th>
            <th>技能講習</th>
            <th>免許</th>
        </tr>
        <tr>
            <td>{{ MemberS.genre }}</td>
            <td>{{ MemberS.name }}</td>
            <td>{{ MemberS.soenmemberEducation.specialeducation }}</td>
            <td>{{ MemberS.soenmemberEducation.file1 }}</td>
            <td>{{ MemberS.soenmemberSkill.skill_name }}</td>
            <td>{{ MemberS.soenmemberLicence.licence_name }}</td>
        </tr>
    </table>
{% endblock %}
