{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}<link rel="stylesheet" type="text/css" href="{% static 'css/TopLayout.css' %}">{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}
{% block mainnav %}
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Soen:soentop' %}">Soen</a>
    </div>
    <br>
    <div class="btn_bluered">
        <a href="{% url 'Spots:spotstop' %}">Spots</a>
    </div>
    <br>
{% endblock %}
{% block navA %}
    vehicle
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="button_radius"><a href="{% url 'Soen:soenmember' %}">社　員　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:shokukatamember' %}">職　方　List</a></div><br>
    <div class="button_radius"><a href="{% url 'Soen:uncategory' %}">未　分類List</a></div><br>
{% endblock %}

{% block main %}
    <br>
    <table class="normal_table">
        <tr>
            <th>Name</th>
            <th>車両番号</th>
            <th>車検証_型式</th>
        </tr>

            {% for veh in vehicle %}

             <tr>   <td>{{ Memberv.name }}</td>
                <td>   {{ veh.vehicleNumber }}</td>
                <td>{{ veh.vehicleModel }}</td></tr>
            {% endfor %}

    </table>
{% endblock %}
