{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/TopLayout.css' %}">
{% endblock %}

{% block meta_description %}{% endblock %}

{% block logina %}<h1> S O E N S </h1>{% endblock %}

{% block mainnav %}
{% endblock %}


{% block navA %}

    <div class="btn_bluered">
        {% if request.user.is_authenticated %}
            <a href="{% url 'accounts:logintop' %}">Soenlogtop</a>
        {% else %}
            <a href="{% url 'Spots:spotstop' %}">Soen</a>
        {% endif %}
    </div>
{% endblock %}

{% block main %}
    {{ name }}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
{#        {{ form2.as_p }}#}
{#        {{ form3.as_p }}#}
        <button type='submit'>save</button>
    </form>
{% endblock %}

{% block mainsub %}
{% endblock %}
