{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block mainnav %}
{% endblock %}

{% block navA %}
    <a href="{% url 'accounts:logintop' %}"><p>loginTop</p></a>
{% endblock %}

{% block main %}
    <br>MemberDetail
    <table class="normal_table" style="background-color:white;">
        <tr>
            <th>所属</th>
            <th>名前</th>
            <th>健康保険</th>
            <th>年金保険</th>
            <th>雇用保険</th>
        </tr>
        <tr>
            <td>{{ data.genre }}</td>
            <td>{{ data.name }}</td>
            {#            <td>{{ data2.add }}</td>#}
            <td>{{ data.soenmemberInsurance.healthInsurance }}</td>
            <td>{{ data.soenmemberInsurance.pensionInsurance }}</td>
            <td>{{ data.soenmemberInsurance.employmentinsurance }}</td>
{% if data.soenmemberInsurance %}
            <td><a href="{% url 'Soen:updateinsurance' data.pk %}">編集</a></td>
{% else %}
    <td><a href="{% url 'Soen:createinsurance' data.pk %}">社保Create</a></td>
            {% endif %}
            <br>
        <tr>

    </table>
{% endblock %}