{% extends 'BaseLayout.html' %}
{% load static %}

{% block cssstyle %}{% endblock %}
{% block meta_description %}{% endblock %}
{{ title }}

{% block mainnav %}
{% endblock %}

{% block navA %}
    <a href="{% url 'accounts:logintop' %}"><p>loginTop</p></a>
{% endblock %}

{% block main %}
    <br>MemberDetail
    <table class="normal_table" style="background-color:white;">
        <tr>
            <th>所属</th>
            <th>名前</th>
            <th>使用開始</th>
            <th>使用期限</th>
        </tr>
        <tr>
            <td>{{ data.genre }}</td>
            <td>{{ data.name }}</td>

            <td>{% for veh in vehicle %}
                <p>
                    {{ veh.soenmember_set.name }}
                    {{ veh.vehicleNumber }}
                    {{ veh.firstUse }}
                    {{ veh.finishUse }}

                    <a href="{% url 'Soen:updatevehicle' veh.pk %}">編集</a></p>
            {% endfor %}
            </td>


            <br>
        <tr>

    </table>
{% endblock %}